<div>
   <img class="logo" src="/images/Logo.png" alt="logo Chill & Pill" onerror="this.remove()">
</div>

<div class="profile-container">
   <h4>Welcome Home {{#if user}}{{user.username}}{{/if}}!</h4>
 <div class="user-det">
   <label><b>User Name</b></label>
    <input type="text" placeholder="{{user.username}}" value="{{user.username}}">
    
    <label><b>Email Address</b></label>
    <input type="email" value="{{user.email}}" required>
  <div>
    <form action="/auth/logout" method="post" ><button class="signupbtn profile" type="submit" >Log Out</button></form>
    {{#if isAdmin}} 
        <form action="/products/create" method="POST" ><button class="signupbtn" type="submit" >Create products</button></form>
        {{/if}}
  </div>
</div>
    <div class="history">
      <h3>Your last orders:</h3>
     {{#each payments}}
     
     <div class="card payment">
            {{#each this.products}}
            <p><strong>Product:</strong> {{this.name}}</p>
            {{/each}}
            
            <h4>Sent to: {{this.address}}</h4>
            <h4>Phone: {{this.phoneNumber}}</h4>
            <h4>Total Bill: {{this.quantity}} $</h4>
            <p class="date">On {{this.createdAt}}</p>
            <ul>
            </ul>
   </div>
        {{/each}}
        </div>
   </div>