<h2 style="text-align:center">Available Products</h2>
{{#each productsfromDB}}
<div class="card">
  <img src="{{this.image}}" alt="{{this.title}}" style="width:100%">
  <h1>{{this.title}}</h1>
  <p class="price">${{this.price}}</p>
  <p>{{this.description}}</p>
  <p><button <a href="products/details/{{this._id}}">Add to Cart</button></p>
</div>
{{/each}}





