<h1>OUR PRODUCTS</h1>
<div>
{{#each productsfromDB}}
{{this.name}}
<br>
<img src={{this.image}} alt="{{this.name}}" width="200px" height="150"/>
<br>
<p>{{this.price }} €/g</p>
<br>
<a href="products/details/{{this._id}}"> See more</a>
<br>
{{/each}}