<div class="container detail">
  <h2 style="text-align:center">Available Products</h2>
  {{#each productsfromDB}}
  <div class="card">
    <img src="{{this.image}}" alt="{{this.title}}" width="100%"/>
    <h3>{{this.title}}</h3>
    <p class="price">${{this.price}}</p>
    <p>{{this.description}}</p>
    <a href="/products/details/{{this._id}}"><button>See more</button></a>
    <form method="POST" action="/cart/{{this._id}}">
      <button type="submit">Add to cart</button>
    </form>
  </div>
  {{/each}}
</div>





