<h1>Details {{this.name}}</h1>
    <div>
    {{this.name}}
    <br>
    {{this.image}}
    <br>
    {{this.price}}<p>€/g</p>
    <br>
    {{this.cbd}}<p>%</p>
    <br>
    {{this.description}}
    <br>
  
  <a href="/products/edit/{{this._id}}">Edit</a>

  <a href="/products/delete/{{this._id}}">Delete</a>
  
  </div>