<div class="container">
  <h1>{{productsfromDB.name}}</h1>
    <div>
      <img src={{productsfromDB.image}} alt="{{productsfromDB.name}}" width="200px"/>
      <br>
      <p>{{productsfromDB.price}}€/g</p>
      <br>
      <p>{{productsfromDB.cbd}}%</p>
      <br>
      <p>{{productsfromDB.description}}</p>
      <br>
    
    {{#if userIsAdmin}}
    <a href="/products/edit/{{productsfromDB._id}}"><button>Edit</button></a>
    <a href="/products/delete/{{productsfromDB._id}}"><button>Delete</button></a>
    {{/if}}
    <form  method="POST"  action="/cart/{{productsfromDB._id}}">
      <button type="submit">ADD TO CART</button>
    </form>
    </div>
</div>