<h1>Details {{this.name}}</h1>
    <div>
    <p> {{this.name}}</p>
    <br>
    <img src={{image}} alt="{{this.name}}" width="200px" height="150"/>
    <br>
    <p>{{this.price}}€/g</p>
    <br>
    <p>{{this.cbd}}%</p>
    <br>
    <p>{{this.description}}</p>
    <br>
  
  <a href="/products/edit/{{this._id}}">Edit</a>

  <a href="/products/delete/{{this._id}}">Delete</a>
  
  </div>