<h1>Details {{this.name}}</h1>
    <div>
    {{#each this._id}}
    {{this.name}}
    {{this.image}}
    {{this.price}} <p>€/g</p>
    {{this.cbd}} <p>%</p>
    {{this.description}}
  
  <a href="/products/edit/{{this._id}}">Edit</a>

  <a href="/products/delete/{{this._id}}">Delete</a>
  {{/each}}
  </div>