<div class="Checkout-top">

<h3>Your Products</h3>
<a href="../auth/profile">{{user.name}}</a>

</div>

<div class="Checkout-products">

    {{#each cart.products}}
    {{name}}
    <br>
    <img src={{this.image}} alt="{{this.name}}" width="200px" height="150"/>
    <br>
    {{price}}
    <br>
    <form  method="POST"  action="/cart/addmore/{{this._id}}">
     <button type="submit"> ADD MORE</button>
    </form>
    <form  method="POST"  action="/cart/delete/{{this._id}}">
    <button type="submit">DELETE</button>
    </form>
    

    {{/each}}
</div>
<br>

<p>  Total = {{cart.quantity}} €</p>
<button> <a href="/payment">Continue for pay</a></button>




<div class="checkout-bottom">
{{#if message}}
<p>{{message}}</p>
{{/if}}
</div>
