<div class="Checkout-top">

<h3>Your Products</h3>
<a href="../auth/profile"><img src="" alt="profile-logo"></a>

</div>

<div class="Checkout-products">

    {{#each cart.products}}
    {{name}}
    {{image}}
    {{price}}
    {{/each}}

<form  method="POST"  action="/cart/delete/{{productsfromDB._id}}">
  <button type="submit"> Delete</button>
  </form>
</div>

<div class="checkout-bottom">
{{#if message}}
<p>{{message}}</p>
{{/if}}
</div>
