<div class="container">
        
    {{#if message}}
    <div class="empty-cart">
        <i class='bx bxs-cart-download bx-fade-down' ></i>
        <h3>Empty Cart</h3>
        <p>{{message}}</p>
        <button> <a href="/products">Discover</a></button>
        
    </div>
    
    {{else}}
    <div class="Checkout-top">
        <h3>My Cart</h3>
        <a href="/auth/profile">{{user.name}}</a>
    </div>
    <div class="Checkout-products">
        {{#each cart.products}}
        <div class="card">
            <h4>{{this.name}}</h4>
            <br>
            <img src={{this.image}} alt="{{this.name}}" width="200px" height="150" onerror="this.remove()"/>
            <br>
            <strong>Price {{price}} $</strong>
            <br>
            <form  method="POST" action="/cart/delete/{{this._id}}">
            <button type="submit">DELETE</button>
            </form>
        </div>
        {{/each}}
    </div>
    <br>
    
    <div class="total">
        <p> <strong> Total {{cart.quantity}}$</strong></p>
    <button> <a href="/payment">Continue to payment</a></button>
    </div>
    <div class="checkout-bottom">
    </div>
    {{/if}}
</div>
